---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('May 16 2023')}
  updatedDate={new Date('May 16 2023')}
  heroImage="/placeholder-about.jpg">
  <p>
    I am a systems engineer, focused primarily on secure software development.
    In my free time, I enjoy making music under the alias <code
      >standardrobot</code
    >
  </p>
</Layout>
