---
import Home from '../components/main-pages/main';
---

<html lang="en" class="h-full w-full font-firacode">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="pointer_main" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>locahost:p7r/</title>
  </head>
  <Home client:load />
  <!--
    thx for inspecting the page.
    a friendly reminder that ligatures suck.
    
    - standardrobot
  -->


</html>
