<head>
  <meta charset="UTF-8" />
  <meta name="description" content="standardrobot" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>locahost:r0b07/</title>
</head>
